

<h2 class="my-3">List of users</h2>
<table class="table table-primary">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>user 1</td>
            <td>user 2</td>
            <td>user 3</td>
        </tr>
        <tr>
            <td>user 1</td>
            <td>user 2</td>
            <td>user 3</td>
        </tr>
        <tr>
            <td>user 1</td>
            <td>user 2</td>
            <td>user 3</td>
        </tr>
        <tr>
            <td>user 1</td>
            <td>user 2</td>
            <td>user 3</td>
        </tr>
        <tr>
            <td>user 1</td>
            <td>user 2</td>
            <td>user 3</td>
        </tr>
        <tr>
            <td>user 1</td>
            <td>user 2</td>
            <td>user 3</td>
        </tr>
        <tr>
            <td>user 1</td>
            <td>user 2</td>
            <td>user 3</td>
        </tr>
        <tr>
            <td>user 1</td>
            <td>user 2</td>
            <td>user 3</td>
        </tr>
        <tr>
            <td>user 1</td>
            <td>user 2</td>
            <td>user 3</td>
        </tr>
        <tr>
            <td>user 1</td>
            <td>user 2</td>
            <td>user 3</td>
        </tr>
    </tbody>
</table>