 <!-- //Interpellation
<h1>{{ title }}</h1>
<p>{{ getTitle() }}</p>

Property Binding
<img [src]="picture" >

//Event binding
<button class="btn btn-sm btn-danger" (click)="setTitle()">Change the title</button>

Data binding
<input type="text" [(ngModel)]="title">
<input type="url" [(ngModel)]="picture"> -->

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            

            <div (click)="toggleForm()" class="my-4 text-end">
                <button class="btn btn-success">{{ textButtonShowForm() }}</button>
            </div>

            <div class="text-start">
                <button (click)="toggleList(true)" class="btn btn-light me-2">List</button>
                <button (click)="toggleList(false)" class="btn btn-light">Grid</button>
            </div>
            
            <div *ngIf="showForm">
                <div class="form-group my-3">
                    <label for="title">Title</label>
                    <input [(ngModel)]="myProduct.title" placeholder="Add the title" type="text" name="" id="title" class="form-control">
                </div>
                <div class="form-group my-3">
                    <label for="image">Image</label>
                    <input [(ngModel)]="myProduct.image" placeholder="Image url" type="url" name="" id="image" class="form-control">
                </div>
                <div class="form-group my-3">
                    <label for="description">Description</label>
                    <textarea [(ngModel)]="myProduct.description" placeholder="Put the description" name="" id="description" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="form-group my-3">
                    <label for="price">Price</label>
                    <input [(ngModel)]="myProduct.price" placeholder="Put the price" type="number" name="" id="price" class="form-control">
                </div>
               
                <!-- <input [(ngModel)]="myProduct.title" type="text" placeholder="Add a title of a Product" class="form-control my-2"> -->
                <div class="d-grid">
                    <button *ngIf="edit" (click)="updateProduct()" class="btn btn-warning">Update a product</button>
                    <button *ngIf="!edit" (click)="addProduct()" class="btn btn-primary">Persist a product</button>
                </div>
            </div>

            <div class="d-grid my-2">
            </div>

            <ng-container *ngIf="list">
                <ul class="list-group" *ngIf="products.length">
                    <li class="list-group-item" *ngFor="let product of products">
                        <img width="100px" height="auto" [src]="product.image" [alt]="product.title"> {{ product.title }}
                        <p class="my-3">{{ product.description }}</p>
                        <p class="my-3">{{ product.price }}</p>
                     <div class="text-end">
                        <button (click)="editProduct(product)" class="btn btn-sm btn-warning me-2">Edit</button>
                        <button (click)="deleteProduct(product)" class="btn btn-sm btn-danger">Delete</button>
                    </div>  
                    </li>
                </ul>
            </ng-container>


            <div class="row" *ngIf="!list">
                <div class="col-md-6" *ngFor="let product of products">
                    <app-card-product 
                        [product]="product">
                    </app-card-product>
                </div>
            </div>

            <ng-container *ngIf="products.length > 0; then withProducts else withoutPoroducts"></ng-container>

            <ng-template #withProducts>
                <div class="alert alert-info my-3">
                    you have {{ products.length }}
                </div>
            </ng-template> 
            
            <ng-template #withoutPoroducts>
                <div class="alert alert-warning my-3">Not product yet !</div>
            </ng-template>

        </div>
    </div>
</div>

